MAX_TOKEN=replace_with_max_bot_token
SECRET_KEY=replace_with_output_of_openssl_rand_hex_32
APP_URL=https://hackaton267max.webtm.ru
DEBUG=true
MAX_INIT_DATA_MAX_AGE=86400
DATABASE_URL=postgresql+asyncpg://max:max@localhost:5433/maxapp
